body{
    background-color: #ebebe0;
    text-align: center;
}
#diferente{
    text-align: left;
}
.Paragrafo1{
    background-color: darkgrey;
    padding: 10px;
    border-style: solid;
}

.Paragrafo2{
    background-color: darkkhaki;
    padding: 10px;
    border-style: solid;
}

.Paragrafo3{
    background-color: silver;
    padding: 10px;
    border-style: solid;
}
.imagens{
  position: absolute;
}
.img1{
    position: absolute;
    padding-top: 7px;
}
.img2{
    position: absolute;
}  
