body{
    background-color: #343434;   
}
#form-login{   
    background-color: white; 
    padding: 10px; 
    border-radius: 5px;
    box-shadow: 0 0 20px lightgray; 
    background-color: #ccc;
}
h2{
    text-align: center;
    color: white;
}

.div-login{
    width: 200px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;   
}

#entrar{
    margin-left: 22%;
    border-top: 1px solid #020500;
    background: #000208;
    background: -webkit-gradient(linear, left top, left bottom, from(#000108), to(#000208));
    background: -webkit-linear-gradient(top, #000108, #000208);
    background: -moz-linear-gradient(top, #000108, #000208);
    background: -ms-linear-gradient(top, #000108, #000208);
    background: -o-linear-gradient(top, #000108, #000208);
    padding: 10.5px 21px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    color: #f0e4f0;
    font-size: 17px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
 }

#entrar:active {
    border-top-color: #1b435e;
    background: #1b435e;
}  

input{
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;    
    border: 1px solid  darkcyan;
}