/* tabela */
thead{
    background: #0747A6;
    border-top: 1px solid #0747A6;
    border-bottom: 1px solid #0747A6; 
    color: azure; 
    overflow: auto;
}  

th {
  font-weight: normal;
  text-align: left; 
  padding-left: 0.5%;   
}

#th-nome{
    width:25%;
}

#th-endereco{
    width:25%;
}

#th-bairro{
    width:25%;
}

#th-idade{
    width:10%;
}

#th-telefone{
    width:15%;
}

/* tabela */

/* inputs */
#div-cadastro{
    margin-top: 2%;
}

input{  
    border: 1px solid #ccc;
    border-radius: 4px;       
}


#div-pessoa{
    display: flex;
}

#div-endereco{
    display: flex;
}

#div-botao{
    float: right;
    margin-top: 1%; 
    margin-bottom: 1%;   
}

#div-logradouro{
    width: 50%;
}

#div-bairro{
    width: 50%;
}

#div-nome{
    width: 50%;
}
 
#div-idade{
    width: 20%;
}

#div-telefone{
    width: 30%;
} 

#btn-cadastrar{
    width: 100%;
    background-color: #0747A6;
    color: white;
}

#div-tabela{
    width: 100%;
}

#ipt-nome{
    width: 98%;
}

#ipt-endereco{
    width: 98%;
}

#ipt-bairro{
    width: 100%;
}

#ipt-idade{
    width: 95%
}

#ipt-telefone{
    width: 100%
}

.nav{
    background-color: #0747A6;
    color: white;
    text-align: center;  
    display: flex;
    width: 100%;
    border-style: none;
    top: auto;
    padding:0.5%
}

#user-icon{
    width: 30px;
    padding: 20%;
}

li{
    list-style-type: none;
}

input{
    padding: 3px 5px 3px 5px;
}